* {

}

body {

}

/* Portrait layout (default) */
.app {

}

.active {
    display:block;
}

.inactive {
    display:none;
}
#PodcastInfo,.controls, #back, #download_form {
    margin-left:2%;
}

#download {
    border:1px solid #FF0055;
    border-radius:10px;
    text-decoration:none;
}

#podList {
    border:1px solid #FF0055;
    border-radius:10px;    
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

body
{
background-color: #191919;
color: #FF0055;
font-family: Ariel, sans-serif;
font-size: 30px;
}

a
{
text-decoration: underline;
color: #FF0055;
}

ul
{
list-style: none;
}

#podPage h2:nth-child(1)
{
text-align: center;
}

li
{
padding-bottom: 10px;
}

#download
{
margin-left: 6px;
font-size: 35px;
}

#Podcast_image
{
background-color: #ffffff;
padding: 5px;
}


